.text-area
{
    -fx-font-size: 198px;
    -fx-color: transparent;
}

.text-area *.text {
    -fx-text-alignment: center;
     -fx-font-size: 180px;
}

#statusBar
{
    -fx-font-size: 12px;
}

.text-field
{
    -fx-alignment: center;
    -fx-min-width: 50px;
    -fx-pref-width: 100px;
    -fx-max-width: 150px;
}

.button
{
    -fx-pref-width: 100px;
}